$main-font-family: "Open Sans", "Arial", sans-serif;
$second-font-family: "Roboto", "Arial", sans-serif;

$color-gray-1: #F5F5F9;
$color-gray-2: #48494D;
$color-gray-3: #D7D9DF;
$color-gray-4: #A3A4A6;
$color-red-1: #D12136;
$color-white-1: #FFFFFF;
$color-black-1: #000000;

$desktop-width: 1180px;
