$main-font-family: "Open Sans", "Arial", sans-serif;
$second-font-family: "Roboto", "Arial", sans-serif;

$color-gray-1: #F5F5F9;
$color-gray-2: #48494D;
$color-gray-2-opacity-20: rgba(72, 73, 77, 0.2);
$color-gray-3: #D7D9DF;
$color-gray-4: #A3A4A6;
$color-gray-5: rgba(88, 87, 87, 0.6);
$color-gray-6: #BDBEC2;
$color-gray-7: #9F9E9E;
$color-red-1: #D12136;
$color-red-2: #FF0000;
$color-red-3: #BD0C21;
$color-white-1: #FFFFFF;
$color-black-1: #000000;
$color-black-2: #1A212F;

$desktop-width: 1180px;
