@import '../../assets/scss/global.scss';
@import '../site-page/site-page.scss';
@import '../logo/logo.scss';
@import '../main-navigation/main-navigation.scss';
@import '../auto-card/auto-card.scss';
@import '../tabs/tabs.scss';
@import '../specification/specification.scss';
@import '../reviews/reviews.scss';
@import '../contacts//contacts.scss';
@import '../footer/footer.scss';

.page, .page__body {
  height: 100%;
  font-family: $main-font-family;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.root{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  background-color: $color-gray-1;
}
