.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 135px;
}

.logo__link {
  color: $color-gray-2;
  text-decoration: none;
  max-width: 60px;
  display: inline-block;
}

.logo__name {
  display: inline-block;
  letter-spacing: 0.13em;

  &--first {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }

  &--second {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}
