.contacts {
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  padding-top: 20px;
}

.contacts__info {
  max-width: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__item-title {
  display: block;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $color-black-2;
}

.contacts__item-text{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color :$color-black-1;
  text-decoration: none;
}

.map {
  width: 431px;
  height: 271px;
  background-color: $color-gray-1;
  background-image: url('../../assets/img/map.png');
}

.marker {
  background-image: url('../../assets/img/icons/map-pin.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 42px;
}
