.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 5px;
  box-sizing: border-box;
  color: $color-gray-2;
  max-width: $desktop-width;
  margin: 0 auto;
}
